/* Reset standardmargener og padding */
*,
::after ::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Style: body */

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  background-color: #b7a186;
}

/* Style: baggrundsbillede */

.stemningsbillede {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.stemningsbillede {
  background-image: url("../images/bgMarkedshallen.jpeg.png");
  height: 100%;
}

/* Style: billedtekst */

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
}

.caption span.kant {
  background-color: transparent;
  padding: 1px;
  font-size: 100px;
  letter-spacing: 2px;
}

/* Style: logo i venstre hjørne */

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 200px
}

.logo img {
    width: 175px;
    height: auto;
}

/* Style: hamburgermenu i højre hjørne */

.hamburgermenu {
  position: relative;
  height: 30px;
  width: auto;
}

.right-top {
  position: absolute;
  top: 30px;
  right: 20px;
}

/* Style: pil nederst i midten */

.pil {
    position: relative;
    top: 80%;
}

.center-bottom {
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
  }

.forside2 {
  max-width: 100%;
}

/* Style: Popup-vindue */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  text-align: center;
  width: auto;
  height: auto;
}

.popup-content {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

.close {
  position: absolute;
  top: -21px;
  right: 5px;
  font-size: 40px;
  line-height: 50px;
  padding: 18px;
  cursor: pointer;
  z-index: 2;
}

.button1 {
  position: absolute;
  color: #fff;
  font-size: 13px;
  padding: 4px 13px;
  background-color: #9e6842;
  cursor: pointer;  
  bottom: 20px;
  left: 20px;
  border: none;
  border-radius: 5px;
  z-index: 1;
}

.button2 {
  position: absolute;
  color: #fff;
  font-size: 13px;
  padding: 4px 13px;
  background-color: #9e6842;
  cursor: pointer;  
  bottom: 20px;
  right:20px;
  border: none;
  border-radius: 5px;
  z-index: 1;
}

.vinkemand {
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
}

@media (min-width: 768px) {
  .vinkemand {
      max-width: 100%;
      max-height: 100%;
  }
}
@media (max-width: 767px) {
  .vinkemand {
      max-width: 100%;
      max-height: 100%;
  }
}

@media (min-width: 768px) {
  .option {
      max-width: 100%;
      max-height: 100%;
  }
}
@media (max-width: 767px) {
  .option {
      max-width: 100%;
      max-height: 100%;
  }
}

/* Style: billede på side 2 */

.option {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
}